.aboutcontainer p {
  font-size: 8rem;
  margin: 8rem auto;
  text-align: center;
  padding: 0 4rem;
}

@media only screen and (max-width: 799px) {
  .aboutcontainer p {
    font-size: 2rem;
    margin: 8rem auto;
    text-align: center;
  }
}
