.navigation {
  display: flex;
  position: relative;
}

.wallpaper {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  min-width: 100%;
}

.wallpaper {
  background-image: url("../Images/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.7;
  position: fixed;
}

.content {
  position: relative;
  display: fixed;
  min-height: 86vh;
}

@media screen and (max-width: 799px) {
  .content {
    position: absolute;
    display: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
