.aboutme {
  background-color: transparent;
  color: #ffe479;
  min-height: 50vh;
  padding-top: 2rem;
  margin: 0 auto;
}

.aboutme h1 {
  font-size: 2.25rem;
  font-weight: bolder;
  color: white;
  letter-spacing: 0.4rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.aboutme p {
  font-size: 1.15rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}
