.wallpaper {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  min-width: 100%;
}

.wallpaper {
  background-image: url("../../../Images/timelapse.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.2;
  position: fixed;
}

.content {
  display: flex;
  position: relative;
  background-image: url("../../../Images/timelapse.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  margin-bottom: 2%;
}

.navigation {
  display: flex;
  position: relative;
}

@media screen and (max-width: 799px) {
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 3rem;
  }
}

@media screen and (min-width: 800px) {
  .content {
    align-items: center;
    justify-content: space-around;
    justify-content: space-evenly;
    padding: 4rem;
  }
}
