@use "../../../styling/variable" as var;

%center-content {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.downarrow {
  align-items: center;
  border: 2rem solid var.$blue-background;
  border-width: 0 0.5rem 0.5rem 0;
  display: inline-block;
  padding: 0.4rem;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: relative;
}

.arrowcontainer {
  margin-left: 50%;
  min-height: 6vh;
  margin-bottom: 4vh;
}

.content {
  display: flex;
  @extend %center-content;
  height: 86.5vh;
}

@media screen and (max-width: 799px) {
  .arrowcontainer {
    margin-left: 50%;
  }
  .content {
    @extend %center-content;
    flex-direction: column;
    flex-basis: auto;
    margin: 0 auto;
    height: 84vh;
  }
}

@media screen and (min-width: 1050px) {
  .content {
    padding: 4rem;
  }
}
