$primary-color: #0074ba;
$text-color: #333;
$white-background: #ffffff;
$horizontal-line-color: #ff470f;

.vita {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  margin: 1rem;
  padding: 2rem;
}

.vitaHeader {
  font-size: 2rem;
  font-weight: bolder;
  color: $primary-color;
  margin: 0 auto 2vh;
  text-align: center;
  text-transform: uppercase;
}

.vitaSubHeader {
  color: $text-color;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.vitaList {
  margin-bottom: 2rem;

  li {
    color: $text-color;
    margin-bottom: 1rem;
    font-size: 1rem;
    position: relative;
    padding-left: 1.5rem;
    list-style-type: none;

    &::before {
      content: "•";
      color: $primary-color;
      font-weight: bold;
      position: absolute;
      left: 0;
      font-size: 1.2rem;
      line-height: 1.2;
    }
  }
}

.vitaSection {
  background: $white-background;
  font-size: 2rem;
  max-width: 100vw;
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease;
  border-left: 0.4rem solid $primary-color;

  &:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
}

.vitaDate {
  color: $text-color;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.vitaCompany {
  color: $primary-color;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.vitaRole {
  color: $text-color;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .vita {
    margin: 0.5rem;
    padding: 1rem;
  }

  .vitaSection {
    margin: 1.5rem auto;
    padding: 1rem;
  }

  .vitaHeader {
    font-size: 1.5rem;
  }

  .vitaList li {
    font-size: 0.9rem;
    padding-left: 1rem;
  }
}