@use "../../../styling/variable" as var;

.vita {
  background-color: var.$transparent-background;
  color: var.$text-color;
  min-height: auto;
  position: relative;
  font-size: 1em;
  padding: 4rem 0;
}

* {
  box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 110em;
  margin: 0 auto;
  font-size: 0.5em;

  h2 {
    font-size: 1.2rem;
    margin: 6px auto;
  }

  h1 {
    font-weight: bolder;
    margin: 6px auto;
    font-size: 1rem;
    text-decoration: underline;
  }

  p {
    font-weight: bold;
    font-size: 1rem;
  }

  &::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: var.$blue-background;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
}

.vitacontent li {
  font-size: 1rem;
}

.header {
  font-size: 2.625rem;
  font-weight: bolder;
  color: var.$text-color;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  text-align: center;
}

.header {
  left: 50%;
}

/* Container around content */
.container {
  padding: 10px 30px;
  position: relative;
  background-color: inherit;
  width: 50%;

  &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: var.$white-background;
    border: 4px solid var.$blue-background;
    top: 30px;
    border-radius: 50%;
    z-index: 1;
  }
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -12px;
}

/* The actual content */
.vitacontent {
  padding: 20px 30px;
  position: relative;
}

.highlightscontainer {
  margin-top: 1em;

  ul {
    list-style-type: square;
  }

  strong {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.descriptioncontainer li {
  list-style-type: square;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 799px) {
  .timeline {
    font-size: 0.5rem;
    &::after {
      left: 31px;
    }
    h2 {
      font-size: 1.2rem;
      margin: 6px auto;
    }

    h1 {
      font-weight: bolder;
      margin: 6px auto;
      font-size: 1.2rem;
    }

    li {
      font-size: 1.2rem;
    }

    p {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }

  .highlightscontainer strong {
    font-size: 1.2rem;
  }

  .header {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #333;
    margin-left: 1rem;
    margin-bottom: 2rem;
    text-align: left;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;

    &::before {
      left: 60px;
      border: medium solid var.$white-background;
      border-width: 10px 10px 10px 0;
      border-color: var.$transparent-background var.$white-background
        var.$transparent-background var.$transparent-background;
    }
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 18px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 1.5px;
  }
}
