@use "../../../../styling/variable" as var;

.about {
  max-width: 26rem;
  font-size: 2rem;
}

.hr {
  width: 14.65rem;
}

%button-transform {
  transition-property: box-shadow, transform;
  transform-origin: center;
  transition-duration: 100ms;
  will-change: box-shadow, transform;
}

@media screen and (max-width: 799px) {
  .about {
    font-size: 0.8rem !important;
    padding: 2.6rem;
  }

  .name {
    font-size: 2rem !important;
    line-height: 1.125;
    margin-bottom: 0.5rem;
  }

  .job,
  .button {
    font-size: 1.2rem !important;
    font-family: "Montserrat", "Quicksand", sans-serif;
    text-transform: uppercase;
  }

  .description p {
    font-size: 1rem !important;
  }

  .button {
    padding: 0.75rem !important;
  }
}

@media screen and (min-width: 800px) {
  .about {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .hr {
    width: 22rem;
  }
}

.name {
  font-size: 3.5rem;
  line-height: 1.125;
  margin-bottom: 0.5rem;
}

.job,
.button {
  text-transform: uppercase;
}

.job {
  color: var.$blue-background;
  font-size: 1.5rem;
  font-weight: bold;
}

.hr {
  background-color: var.$horizontal-line-color;
  border: none;
  content: "";
  height: 0.2rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  transform-origin: center left;
}

.description {
  font-size: 1.2rem !important;
}

.contact {
  display: inline-block;
  margin-top: 1.5rem;
  vertical-align: top;
}

.button {
  background-color: var.$blue-background;
  border-radius: 290486px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: var.$white-background;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1;
  padding: 1.25em 2em;
  text-shadow: none;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  @extend %button-transform;

  &:hover {
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    transform: scale(1.02) translateY(-4px);
  }
}

.social {
  display: flex;
  margin-top: 1.5rem;
  li {
    height: 2rem;
    margin-right: 1.5rem;
    text-align: center;
    width: 2rem;
    padding-left: 0;
  }
  a {
    color: var.$blue-background;
    align-items: center;
    display: flex;
    font-size: 2.25rem;
    height: 2rem;
    justify-content: center;
    width: 2rem;
    padding-left: 0;

    &:hover {
      opacity: 1;
      transform: scale(1.25);
      color: var.$blue-background;
    }

    &:active {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}
