.portfolio {
  background-color: transparent;
  color: black;
  min-height: 60vh;
  position: relative;
}

.portfolio h1 {
  font-size: 2.25rem;
  font-weight: bolder;
  color: white;
  letter-spacing: 0.4rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  position: relative;
}
