.topcontainer {
  background-color: transparent;
  position: relative;
  margin-top: 2%;
}

.testimonials {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 1.2rem 5rem;
  background-color: transparent;
}

@media screen and (max-width: 1299px) {
  .testimonials {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1.2rem 5rem;
  }

  .card {
    max-width: 30rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.card {
  background-color: rgb(255, 204, 204, 0.2);
  transition: 0.3s;
  max-width: 18rem;
  color: #555;
  margin: 2rem;
  font-size: 2rem;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  max-height: 14rem;
  max-width: 14rem;
  position: relative;
}

.card {
  transition: 0.3s;
  border-radius: 5px;
  padding: 1.2rem 1.4rem !important;
}

.container {
  padding: 1.2rem;
}

.topcontainer h1 {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #333;
  letter-spacing: 0.4rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  position: relative;
}

.testimonials h2 {
  color: #333;
}

.testimonials p {
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}
