$white-background: #ffffff;
$transparent-background: transparent;
$blue-background: #0074ba;
$light-blue-background: #ccebff;
$horizontal-line-color: #ff470f;
$card-color: rgb(255, 204, 204, 0.2);
$text-color: #333;
