@use "../../../styling/variable" as var;

.footer {
  background-color: var.$transparent-background;
  color: var.$text-color;
  height: 12rem;
  margin: 0 auto;
  max-width: 50em;

  p {
    font-size: 1.2rem;
  }

  .footerbutton {
    transform-origin: center;
    transition-duration: 100ms;
    background-color: var.$blue-background;
    border-radius: 2rem;
    box-shadow: 0 1rem 2rem var.$footer-button-shadow;
    color: var.$white-background;
    display: inline-block;
    font-size: 1rem;
    line-height: 1;
    margin: 0 auto;
    padding: 1.25em 2em;
    text-shadow: none;
    transition-property: box-shadow, transform;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    will-change: box-shadow, transform;

    &:hover {
      box-shadow: 0 1.5rem 3rem var.$footer-button-shadow;
      transform: scale(1.02) translateY(-4px);
    }
  }

  .footerbuttoncontainer {
    display: flex;
    margin-top: 2rem;
    align-items: center;
  }
}
